.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.modalBody {
    position: relative;
    padding: 2rem;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background: #fff;
}

.modalClose {
    width: 26px;
    position: absolute;
    top: -26px;
    right: -26px;
    cursor: pointer;
}